
# RabbitMQ Configuration
RABBITMQ_URL=amqp://<username>:<password>@localhost:5672/
RABBITMQ_MANAGEMENT_URI=http://<username>:<password>@localhost:15672/

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=<your_cloud_name>
CLOUDINARY_API_KEY=<your_api_key>
CLOUDINARY_API_SECRET=<your_api_secret>

# Service URLs for Client Applications (Vite/React)
VITE_APP_ADMIN_SERVICE_URI=http://localhost:5001/
VITE_APP_AUTH_SERVICE_URI=http://localhost:5002/
VITE_APP_BUFFERED_READER_SERVICE_URI=http://localhost:5003/
VITE_APP_CSES_SERVICE_URI=http://localhost:5004/
VITE_APP_SARC_SERVICE_URI=http://localhost:5005/
VITE_APP_AI_ML_SERVICE_URI=http://localhost:8001/

# JWT Configuration
JWT_SECRET=<your_jwt_secret>
JWT_EXPIRES_IN=1d
FILE_STORAGE_ROOT=/home/matrix/WebCSE/ROOT/shared/uploads || /virtualhost/ROOT/shared/uploads || /srv/ROOT/shared/uploads